@media (min-width: 1281px) {
    .text_filter_wrapper{
        border-right: 2px solid #F9F9F9;
        margin-left: 5px;
        width: 230px;
    
    }
    .user_input{
        position: relative;
        top: -6px;
        height: 15px;
        border: 0px;
        width: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #49627E;
        border: 2px solid #DCDCDC;
        margin-left: 10px;
    }
    .user_input:focus{
        border: 2px solid #DCDCDC;
        outline: none;
    }
}



/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  
    .text_filter_wrapper{
        border-right: 2px solid #F9F9F9;
        margin-left: 5px;
        width: 230px;
    
    }
    .user_input{
        position: relative;
        top: -6px;
        height: 15px;
        border: 0px;
        width: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #49627E;
        border: 2px solid #DCDCDC;
        margin-left: 10px;
    }
    .user_input:focus{
        border: 2px solid #DCDCDC;
        outline: none;
    }
    
  }


/* Mobile */

@media (min-width: 320px) and (max-width: 480px) {
  
    /* CSS */
    
  }